# Server
app_server/**/__pycache__/
app_server/**/*.py[cod]

app_server/**/*.egg-info/
app_server/**/.installed.cfg
app_server/**/*.egg

app_server/**/pip-log.txt
app_server/**/pip-delete-this-directory.txt

app_server/**/.coverage
app_server/**/.cache

app_server/**/*.log

app_server/.env
app_server/key_spy.conf
app_server/test.py
app_server/ui_settings.py
app_server/screenshots/

#Client
app_client/obj/

#Executable
*.out